@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row p-3">
    <div class="col-md-8 col-lg-4 m-auto">
        <section>
            <form class="m-form "id="account" method="post">
                <h2>LOGIN</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
       
                    <label asp-for="Input.Email" >Email</label>
                <input asp-for="Input.Email" class="input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
             
                    <label asp-for="Input.Password" >Password</label>
                    <input asp-for="Input.Password" class="input" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                <label asp-for="Input.RememberMe" class="mb-3 d-flex align-items-center gap-2">
                        <input class="form-check-input m-0" asp-for="Input.RememberMe" />
                        <span>@Html.DisplayNameFor(m => m.Input.RememberMe)</span>
                    </label>
      
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div class="d-flex flex-column">
                    
                        <a id="forgot-password" class="btn btn-danger d-block mt-5" asp-page="./ForgotPassword">Forgot your password?</a>

                    <a asp-page="./Register" class="btn btn-success d-block mt-2" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>

                    <a id="resend-confirmation" class="btn btn-secondary d-block mt-2" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                
                </div>
            </form>
        </section>
    </div>
    @*<div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
