@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row p-3">
    <div class="col-md-8 col-lg-4 m-auto">
        <form class="m-form" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Register</h2>
            <hr />
            @*@{

                if ((Model.ExternalLogins?.Count ?? 0) > 0)
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                               <button>Facebook</button>
                            </p>
                        </div>
                    </form>
                }
            }*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       
                <label asp-for="Input.UserRole"></label>
                <select asp-for="Input.UserRole" asp-items="ViewBag.AccountType" class="form-select mt-2 f-select"></select>
         
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
          
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
           
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
          
            <button class="button" id="registerSubmit" type="submit">Register</button>
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
