@model IEnumerable<StudentAccomodation.Models.House>

@{
    ViewData["Title"] = "Index";
}

<h1>House Hoo</h1>
@if (User.Identity.IsAuthenticated)
{

    <p>
        <a asp-action="Create">Add Your Rental Property</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HouseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthRent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HouseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthRent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HouseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Edit" asp-route-id="@item.HouseId">Edit</a> 
                        <a asp-action="Delete" asp-route-id="@item.HouseId">Delete</a>
                    }
                <a asp-action="Details" asp-route-id="@item.HouseId">Details</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
