@model IEnumerable<StudentAccomodation.Models.House>

@{
    ViewData["Title"] = "Index";
}

<h1>House</h1>

<p>
    <a asp-action="Create">Add Your Rental Property</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HouseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthRent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.postalCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HouseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthRent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HouseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postalCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HouseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HouseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HouseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
