@model IEnumerable<StudentAccomodation.Models.House>

@{
    ViewData["Title"] = "Index";
}
<div class="container mt-5">
<h1 class="text-center heading-primary">Available Homes</h1>
@if (User.Identity.IsAuthenticated)
{

    <p>
        <a asp-action="Create">Add Your Rental Property</a>
    </p>
}
<div class="row row-cols-sm-1 row-cols-md-3 row-cols-lg-4">
    @foreach(var item in Model)
    {
        <div class="home col">
            <img src="~/img/houses/@Html.DisplayFor(modelItem => item.Image)" alt="house-image">
            <div class="home-content">
                <p class="home-title">@Html.DisplayFor(modelItem => item.HouseName)</p>
                <ul class="home-list">
                    <li class="home-attri">
                        <span> <strong>@Html.DisplayFor(modelItem => item.MonthRent)</strong> /Month</span>
                    </li>
                    <li class="home-attri">
                        <span> Occupancy Available: @Html.DisplayFor(modelItem => item.Occupancy)</span>
                    </li>
                    <li class="home-attri">
                        <span>Address: @Html.DisplayFor(modelItem => item.HouseNumber), @Html.DisplayFor(modelItem => item.Street) </span>
                    </li>
                    <li class="home-attri">
                        <span>@Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.PostalCode)</span>
                    </li>
                    <li class="home-attri">
                        <span>Owner: @Html.DisplayFor(modelItem => item.OwnerName)</span>
                    </li>
                    <li class="home-attri">
                        <span>Contact: @Html.DisplayFor(modelItem => item.OwnerPhone)</span>
                    </li>
                </ul>
                <div class="row">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="col" asp-action="Edit" asp-route-id="@item.HouseId">Edit</a> 
                        <a class="col" asp-action="Delete" asp-route-id="@item.HouseId">Delete</a>
                    }
                    <a class="col" asp-action="Details" asp-route-id="@item.HouseId">Details</a> 
                </div>
            </div>
        </div>
    }
</div>
</div>